<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
</head>
<body>
    <!--NAVBAR CODE-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
                <ul class="dropdown-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="payment">Payment</a></li>
                    <li><a href="settings">Account Settings</a></li>
                    <li><a href="help">Help &amp; FAQ</a></li>
                    <li><a href="history">History</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav">
                <h2>WEHAUL</h2>
            </div>
        </div>
    </nav>
    <div class="row top-buff" style = "text-align center">;
    <h2>Help &amp; FAQ</h2>
    </div>

    <div class ="container" style = "text-align: left">
        <h4> How do I update my card?<h4>
            <p>To update your card, navigate to the payment 
                section using the omnibar at the top left of
                your screen. Once you´re there, click on the update card button</p>
    </div>
    <div class ="container" style = "text-align: right">
        <h4> How do I update my name?<h4>
            <p>To update your name, navigate to the payment 
                section using the omnibar at the top left of
                your screen. Once you´re there, click on the update name button</p>
    </div>

    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>