<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/help.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <!--NAVBAR CODE-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
                <ul class="dropdown-menu">
                    <li><a href="home">Home</a></li>
                    <li><a href="settings">Account Settings</a></li>
                    <li><a href="help">Help &amp; FAQ</a></li>
                    <li><a href="history">History</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav" style = "position: relative;">
                <img src="graphics/wehaul-logo.jpg" style="width: 20%;">
            </div>
            <div class="header" style = "top:-45px; width: 220px; left: 160px; font-size: 25px;">
                <h2>Help &amp; FAQ</h2>
            </div>
        </div>
    </nav>
<div class = "background" style = "top: -60px;">
    <div class ="container" style = "top: 20px; left: 20px">
        <h4><strong>How do I update my card?</strong></h4>
            <p>Card functionality not yet available</p>
    </div>

<style>
  .container {
    border: 1px solid;
    width: 500px;
    margin: 5px;
}
</style>

    <div class ="container" style = "text-align: left;">
        <h4> How do I update my name?</h4>
            <p>To update your name, navigate to the settings</p> 
            <p>section using the omnibar at the top left of</p>
            <p>your screen. Once you´re there, click on the</p> 
            <p>update name button</p>
    </div>

    <div class = "container" style = "top: -490px; left: 300px;">
        <h4><strong>How do I change between user and driver login?</strong></h4>
            <p>To switch between user and driver: <br/> • navigate to the home screen through <br/>the omnibar or by clicking on the <br/>WeHaul logo. <br/>•You will then see a <br/>switch at the top of the screen<br/> with the labels:
            "Rider" and <br/>"Driver".</p>
    </div>

    <div class ="container" style = "top: -470px; left: 300px;">
        <h4><strong>How do I change my address?</strong></h4>
            <p>To update your address, <br/>navigate to the settings section <br/>using the omnibar at the top left <br/>of your screen. Once you´re <br/>there, click on the update <br/>address button.</p>
    </div>
</div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>