<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/help.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <!--NAVBAR CODE-->
    <!--<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
    </div>

     Use any element to open the sidenav
    <span onclick="openNav()">open</span>-->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
                <ul class="dropdown-menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="settings">Account Settings</a></li>
                    <li><a href="help">Help &amp; FAQ</a></li>
                    <li><a href="history">History</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav" style = "position: relative;">
                <img src="graphics/wehaul-logo.jpg" style="width: 20%;">
            </div>
            <div class="header" style = "top:-45px; width: 220px; left: 160px; font-size: 25px;">
                <h2>Help &amp; FAQ</h2>
            </div>
        </div>
    </nav>
<!--<div id="main">-->
<div class = "background" style = "top: -60px;"> 
    <div class ="container" style = "top: 20px; left: 20px">
        <h4><strong>How do I update my card?</strong></h4>
            <p>To update your card, navigate <br/>to the payment section using the omnibar at the top left of your screen. Once you´re there, click on the "update card" button.</p>
    </div>

    <div class ="container" style = "top: 15px; left: 20px;">
        <h4><strong>How do I update my name?</strong></h4>
            <p>To update your name, navigate to the settings section using the omnibar at the top left of your screen. Once you´re there, click on the update name button.</p> 
    </div>

    <div class = "container" style = "top: -490px; left: 270px;">
        <h4><strong>How do I change between user and driver login?</strong></h4>
            <p>To switch between user and driver, simply navigate to the home screen through the omnibar or by clicking on the WeHaul logo. You will then see a switch at the top of the screen with the labels:
            "Rider" and "Driver".</p>
    </div>

    <div class ="container" style = "top: -495px; left: 270px;">
        <h4><strong>How do I change my address?</strong></h4>
            <p>To update your address, navigate to the settings section using the omnibar at the top left of your screen. Once you´re there, click on the update address button.</p> 
    </div>
<!--</div>-->
</div>
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>
</html>