<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/settings.css">
</head>
<body>
<!--NAVBAR CODE-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
            <ul class="dropdown-menu">
                <li><a href="/">Home</a></li>
                <li><a href="payment">Payment</a></li>
                <li><a href="settings">Account Settings</a></li>
                <li><a href="help">Help &amp; FAQ</a></li>
                <li><a href="history">History</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/">Logout</a></li>
            </ul>
        </div>
        <div class="nav navbar-nav">
            <h2>WEHAUL</h2>
        </div>
    </div>
</nav>
<div class="row top-buff" style = "text-align: center;">
        <h2>Settings</h2>
</div>
<div class = "header" style = "position:relative; left:200px; 
font-size:150%;">
    <h4>Name</h4>
</div>

<div class = "header" style = "position:relative; left:650px; top:-30px; font-size:150%;">
    <h4>Address</h4>
</div>

<div class ="container1" style ="text-align:center; position:relative; left:0px; top=0px; font-size:100%;">
        <p>test</p>
        <p>(619)-123 4567</p>
</div>
    &nbsp; &nbsp; &nbsp; &nbsp;



<div class= "container" style ="text-align: center; position:relative; left:0px; top=0px; font-size:100%;">
        <p>9450 Gilman Dr.
            La Jolla, Ca 92092</p>
</div>

<div class ="container1" style = "text-align: center; position:relative; left:0px; top=0px; font-size:100%;">
    <span class = "psw"> <a href = "#" >Update name?</a></span>
</div>

<div class ="container" style = "text-align: center; position:relative; left:0px; top=0px; font-size:100%;">
    <span class = "psw"> <a href = "#" >Update address?</a></span>
</div>

<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>