<html>
<head>
    <title>WeHaul Demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
    <link rel="stylesheet" href="css/vehicle.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

</head>
<body>
    <!--NAVBAR CODE-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
                <ul class="dropdown-menu">
                    <li><a href="home">Home</a></li>
                    <li><a href="settings">Account Settings</a></li>
                    <li><a href="help">Help &amp; FAQ</a></li>
                    <li><a href="history">History</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/">Logout</a></li>
                </ul>
            </div>
            <div class="nav navbar-nav" style = "position: relative;">
                <img src="graphics/wehaul-logo.jpg" style="width: 20%;" align="left">
                    <h1 style="font-size: 25px; top: -45px; color: #66a182;">Select Vehicle</h1>
            </div>
        </div>
    </nav>

    <div class="background">

    <ul class="breadcrumb">
        <li><a href="/">Rider/Driver</a></li>
        <li><a href="movenow-rider">Request a Ride</a></li>
        <li>Select Vehicle</li>
        <li>Request Extra Equipment</li>
        <li>Request Mover</li>
        <li>Confirmation</li>
    </ul>
        <div class="row top-buff">
        <div class="left-align text" style= "color: #66a182; margin: 25px;">
            <h1>Select a Vehicle</h1>
        </div>
        </div>
    <body>
    
<div class ="container" style = "top: 20px; left: 20px"> 
    <form>
        <input type="radio" name="Vehicle"> Truck
        <br><br><br>
        <input type="radio" name="Vehicle"> Van
        <br><br><br>
        <input type="radio" name="Vehicle"> Flatbed
        <br><br><br>
        <input type="radio" name="Vehicle"> Semi
        <br><br>
</div>

            <div class="row top-buff"style="text-align: center;">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <a class="btn btn-danger" href="movenow-rider" style="float: left; width: 25%;">Back</a>
                    &nbsp; &nbsp; &nbsp; &nbsp;
                    <a class="btn btn-success" href="equipment" style="float: right; width: 25%;">Next</a>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
     </div>   
</body>
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>