.container {
    border: 1px solid transparent;
    width: 550px;
    margin: 5px;
    background-color: #42f498;
    line-height: 0.9;
}

.header {
	border: 1px;
	margin: 1px;
	background-color: #f1f441;
	font-size: 40px;
}

.background{
	background-color: grey;
}